<a href="https://colab.research.google.com/github/hyunjunmn/tensorflow_with_colab/blob/master/Boston_House_Price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

#라이브러리 사용
import tensorflow as tf
import pandas as p

https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv

In [18]:
#과거 데이터 준비
파일경로 = '/content/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [21]:
종속=보스턴[['medv']]
독립=보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
print(독립.shape,종속.shape)

(506, 13) (506, 1)

In [22]:
x= tf.keras.layers.Input(shape=[13]) # 13개의 columns
y=tf.keras.layers.Dense(1)(x) 
model = tf.keras.models.Model(x,y)
model.compile(loss='mse')

In [12]:
#fit(학습)시키기
model.fit(독립,종속,epochs=1000,verbose=0)
model.fit(독립,종속,epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 25.3336
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 25.8498
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 25.6084
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 25.4970
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 25.6961
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 25.5768
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 24.9181
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 25.5263
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 26.0313
Epoch 10/10
16/16 [==============================] - 0s 962us/step - loss: 25.6448

In [23]:
#4.모델이용
model.predict(독립[5:10])

array([[270.82874],
       [263.76822],
       [274.36502],
       [267.65503],
       [264.68933]], dtype=float32)

In [24]:
종속[5:10]

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [27]:
#모델 수식 확인
model.get_weights()

[array([[-0.3305198 ],
        [ 0.12372029],
        [-0.5783321 ],
        [-0.44682243],
        [ 0.23361123],
        [ 0.51410365],
        [ 0.35283685],
        [ 0.33478862],
        [-0.56219625],
        [-0.05253971],
        [ 0.5607765 ],
        [ 0.6329346 ],
        [-0.12335116]], dtype=float32), array([0.], dtype=float32)]

In [ ]:
집값 = -0.08523201 *x1 + 0.06610132*x2 + -0.05522758 * x3 + 3.252831 * x4  + 2.2496722 *x5 +  4.37317 * x6 + 0.00611398 *x7 + -0.9222258 *x8+ 0.15642789*x9+-0.01023826*x10+-0.10648178*x11+0.01452912*x12+-0.5485115*x13 +2.8138156