<a href="https://colab.research.google.com/github/hyunjunmn/tensorflow_with_colab/blob/master/buy_a_lemonade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
#데이터준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
데이터 = pd.read_csv(파일경로)
데이터.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
#종속변수, 독립변수
독립 = 데이터[['온도']]
종속 = 데이터[['판매량']]
print(독립.shape,종속.shape)

(6, 1) (6, 1)

In [ ]:
#모델만들기
x = tf.keras.layers.Input(shape=[1])
y=tf.keras.layers.Dense(1)(x)
model = tf.keras.models.Model(x,y)
model.compile(loss='mse')

In [8]:
#모델학습
model.fit(독립,종속,epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 1ms/step - loss: 1.3881e-04
Epoch 2/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3875e-04
Epoch 3/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3881e-04
Epoch 4/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3881e-04
Epoch 5/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3881e-04
Epoch 6/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3884e-04
Epoch 7/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3884e-04
Epoch 8/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3876e-04
Epoch 9/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3872e-04
Epoch 10/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3871e-04

In [9]:
#모델이용 0.0001
model.predict(독립)

array([[40.010674],
       [42.011105],
       [44.011536],
       [46.011967],
       [48.012398],
       [50.01283 ]], dtype=float32)

In [10]:
종속

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [11]:
model.predict([[15]])

array([[30.00852]], dtype=float32)